dtwin.json
[{"id":"9340b650.398378","type":"catch","z":"6e135f96.815ec","name":"","scope":null,"x":121,"y":720.566650390625,"wires":[["3d863236.25b366","cfcf4ac0.f346a"]]},{"id":"28351d8d.83d8f2","type":"ui_toast","z":"6e135f96.815ec","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":612,"y":719.5666809082031,"wires":[]},{"id":"3d863236.25b366","type":"debug","z":"6e135f96.815ec","name":"","active":true,"tosidebar":true,"console":false,"complete":"error","x":261,"y":760.566650390625,"wires":[]},{"id":"cfcf4ac0.f346a","type":"function","z":"6e135f96.815ec","name":"","func":"msg.topic = \"API\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":251,"y":720.566650390625,"wires":[["2348d649.3ae162"]]},{"id":"943fdc6e.0ce57","type":"function","z":"6e135f96.815ec","name":"getData","func":"var categorys = new Array(\"ASSEMBLY\",\"MOULDING\",\"ASSEMBLY_FINAL\",\"ASSEMBLY_CONSUME\",\"GATE\",\"TPA_CUST_AREA\",\"TPA_PALLET\",\"HANDHELD\");\nvar msgs = [];\n\ncategorys.forEach(function(category) \n{\n    var query = \"\";\n    if(msg.topic  === \"reset\")\n    {\n        query = \"SELECT distinct DATE(ts_receive) as dtGr, simulate_machine_id, count(rfid_short_id) as num_det from rfid_msg_arch \" +\n            \"WHERE simulate_category = '\" + category + \"' AND ts_receive >= DATE_FORMAT(DATE(NOW()), '%Y-%m-%d 00:00:00') AND \" +\n            \"ts_receive <= DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') GROUP BY simulate_machine_id, dtGr ORDER BY dtGr\";\n    }\n    else if(msg.topic  === null) //get the selected date data\n    {\n        query = \"SELECT distinct DATE(ts_receive) as dtGr, simulate_machine_id, count(rfid_short_id) as num_det from rfid_msg_arch \" +\n            \"WHERE simulate_category = '\" + category + \"' AND ts_receive >= STR_TO_DATE('\" + msg.startDate + \" 00:00:00.000000', '%Y-%m-%d %H:%i:%s') \" +\n            \"AND ts_receive <= STR_TO_DATE('\" + msg.endDate + \" 23:59:59.000000', '%Y-%m-%d %H:%i:%s') GROUP BY simulate_machine_id, dtGr \"+\n            \"ORDER BY dtGr\";\n    }\n    else // get summary data\n    {\n        query = \"SELECT distinct simulate_machine_id, count(rfid_short_id) as num_det from rfid_msg_arch WHERE simulate_category = '\" + category +\n            \"' AND ts_receive >= STR_TO_DATE('\" + msg.startDate + \" 00:00:00.000000', '%Y-%m-%d %H:%i:%s') \" +\n            \"AND ts_receive <= STR_TO_DATE('\" + msg.endDate + \" 23:59:59.000000', '%Y-%m-%d %H:%i:%s') GROUP BY simulate_machine_id ORDER BY simulate_machine_id\";\n    }\n    \n    var message = {payload:\"\", topic : query, category: category, live:false };\n    \n    node.send(message);\n});  \nreturn null;","outputs":1,"noerr":0,"x":541.9998779296875,"y":219.566650390625,"wires":[["cd7abc58.87a618"]]},{"id":"2348d649.3ae162","type":"delay","z":"6e135f96.815ec","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":391,"y":720.566650390625,"wires":[["28351d8d.83d8f2"]]},{"id":"6ed0b78c.5f8648","type":"inject","z":"6e135f96.815ec","name":"initialize","topic":"summary","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":447.3332824707031,"y":280.33331298828125,"wires":[["943fdc6e.0ce57"]]},{"id":"dd27e3ad.0d89f","type":"ui_template","z":"6e135f96.815ec","group":"661a7c7d.ad7254","name":"display heatmap Chart","order":0,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <head>\n        \n        <link href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n        <script src=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js\"></script>\n        \n        <script src=\"https://cdn.jsdelivr.net/npm/apexcharts\"></script>\n        <script src=\"https://cdn.jsdelivr.net/npm/vue-apexcharts\"></script>\n        \n\n        <style>\n            #chart26:before { content: ''; background-image: url('http://nodereddemo.cloud.reply.eu/plant.jpg'); background-repeat: no-repeat; background-position: center center;  background-size: 80%, 70%; position: absolute; top: 0; left: 0; width: 100%; height: 70%; opacity: 0.3;}\n\n            #chart26{position: relative; }\n          \n            @media (min-width: 768px) {\n    \t\t\t.wrapper { width: auto; float: none; }\n    \t\t}\n    \t\t\n            @media screen and (-webkit-min-device-pixel-ratio:768px) { \n            \t.wrapper { width: 100%; float: none; }\n            }\n            \n            @media (min-width: 1024px) {\n    \t\t\t.wrapper { width: auto; float: none; } \n    \t\t}\n    \t\n            @media screen and (-webkit-min-device-pixel-ratio:1024px) {\n            \t.wrapper { width: auto; float: none; } \n            }\n            \n            ui-card-panel#APTIV_Filter_.ng-scope._md.visible{\n               width: 100% !important;\n               display:block;\n               float:left;    \n            }\n            \n            div#APTIV_Category_cards.nr-dashboard-cardcontainer{\n               width: 100% !important;\n            }\n            \n            md-card.nr-dashboard-template.ng-scope._md.visible{\n               width: 100% !important;\n            }\n            \n            div#APTIV_Filter__cards{\n               width: 100% !important;\n            }\n            \n            \n        </style>\n\n        \n        <!--link href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" type=\"text/css\" rel=\"stylesheet\">\n-->\n        <script src=\"https://cdn.jsdelivr.net/npm/apexcharts\"></script>\n        <script src=\"https://cdn.jsdelivr.net/npm/vue-apexcharts\"></script>\n        \n        <script>\n            $(document).ready(function () {\n                $('ui-card-panel').css('width', '100%');\n                $('.wrapper').css('width', '100%');\n            });\n        </script>\n        \n        <script>\n\n            /******************* Bubble chart for RFID system *******************/\n            var scatterData = new Map(); // will keep all sensors location data\n            var realTimeScatterChart = null;\n            \n            realTimeScatterChart = new ApexCharts(\n                    document.querySelector(\"#realTimeScatterChart\"),\n                    setScatterCharOptions()\n                );\n                \n            realTimeScatterChart.render();\n            \n            function updateSensorLocation(payload = null) {\n                if(payload !== null) \n                {\n                    var X = payload.features.position.properties.x;\n                    var Y = payload.features.position.properties.y;\n                    //var sensorID = \"sensor \" + payload.features.id.properties.value;\n                    var sensorID = payload.features.id.properties.value;\n                    //console.log(\"Sensor ID = \" + payload.features.id.properties.value);\n                    //sensor already exist will be override or new data will be added \n                    scatterData.set(sensorID,  { x:X, y:Y });\n                }\n                return scatterData;\n            }\n            \n            function parseScatterCharData(payload = null) {\n                var series = [];\n                \n                //var data = \"\";    \n                if(payload !== null)\n                {\n                    scatterData = updateSensorLocation(payload);\n                }\n                \n                for (let [key, value] of scatterData) {\n                    \n                    var x = value.x;\n                    var y = value.y;\n                    \n                    series.push({\n                                name: key,\n                                data: [[x, y]]\n                            });\n                }\n                \n                return series;\n            }\n            \n            function setScatterCharOptions(){\n                var options = {\n                    chart: {\n                        height: 350,\n                        width:823,\n                        type: 'scatter',\n                        animations: {\n                            enabled: true,\n                            easing: 'linear',\n                            dynamicAnimation: {\n                                speed: 1000\n                            }\n                        },\n                        toolbar: {\n                          show: false\n                        }\n                    },\n                    series: [],\n                    xaxis: {\n                        tickAmount: 5,\n                        min: 0,\n                        max: 400,\n                        title: {\n                            text: 'Sensors',\n                        }\n                    },\n                    yaxis: {\n                        tickAmount: 5,\n                        min: 0,\n                        max: 100,\n                        title: {\n                            text: 'Engagement',\n                        }\n                    },\n                    fill: {\n                      type: 'image',\n                      image: {\n                        src: ['https://www.w3schools.com/jsref/img_tree.png'],\n                        width: undefined,  // optional\n                        height: undefined  //optional\n                      }\n                    },\n                    grid: {\n                        xaxis: {\n                          showLines: false\n                        },\n                        yaxis: {\n                          showLines: false\n                        },\n                    }\n                };\n                \n                return options;\n            }\n            \n            /******************* end of Bubble chart for RFID system *******************/\n\n            //  var dataset = new Map(); // will keep all sensors location data\n            var selectedChart = null;\n           \n            var charts = [];\n            \n            var activeCanvasID = \"canvas1\"; //by default show home canvas\n           \n            function setOptions()\n            {\n                var options = {\n                    chart: {\n                        height: 150,\n                        type: 'heatmap',\n                        toolbar: {\n                          show: false\n                        },\n                        zoom: {\n                            enabled: true,\n                            type: 'xy'\n                        }\n                    },   \n                    plotOptions: {\n                       heatmap: {\n                       shadeIntensity: 0.5,\n            \n                        colorScale: {\n                         ranges: [{\n                            from: -30,\n                            to: 5,\n                            name: 'low',\n                            color: '#00A100'\n                          },\n                          {\n                            from: 6,\n                            to: 20,\n                            name: 'medium',\n                            color: '#128FD9'\n                          },\n                          {\n                            from: 21,\n                            to: 45,\n                            name: 'high',\n                            color: '#FFB200'\n                          },\n                          {\n                            from: 46,\n                            to: 55,\n                            name: 'extreme',\n                            color: '#FF0000'\n                          }\n                        ]\n                      }\n                    }\n                  },\n                  dataLabels: {\n                    enabled: true\n                  },\n                  series: [],\n                };\n                \n                return options;\n            }\n            \n            function createHeatmapCharts(numberOfCharts)\n            {\n                var i=0;\n                \n                for (; i < numberOfCharts; i++)\n                {\n                    var chartID = \"#chart\" + i\n                    charts[i] = new ApexCharts(document.querySelector(chartID), setOptions());\n                    charts[i].render();\n                }\n            }\n            \n            function updateChart(chartIndex, newSeries)\n            {\n                charts[chartIndex].updateSeries(newSeries);\n            }\n            \n            //set the dropdown box selected option\n            function setSelectionCategory(optionID)\n            {\n                document.getElementById(optionID).selected = true;\n            }\n            //get selected dropdown box item\n            function getSelectedCategory()\n            {\n                var e = document.getElementById(\"areaName\"); // areaName is <select> tag id \n                var selectedCategory = e.options[e.selectedIndex].text;\n               \n                showDetails(selectedCategory);\n            }\n         \n            function switchCanvas(canvasID) {\n                var canvas1 = document.getElementById(canvasID); //tobe active\n                var canvas2 = document.getElementById(activeCanvasID); // currently active \n                \n                canvas1.style.display = ( canvas1.style.display == \"none\" ? \"block\" : \"none\"); \n                canvas2.style.display = ( canvas2.style.display == \"none\" ? \"block\" : \"none\"); \n                \n                \n                activeCanvasID = canvasID;\n                \n                var d = document.getElementById(\"activeCanvasName\");\n                if(canvasID === \"canvas1\")\n                {\n                    d.innerHTML= \"<span class='fa fa-home'></span> Dashboard\";\n                }\n                else if(canvasID === \"canvas2\")\n                {\n                    d.innerHTML = \"<span class='fa fa-clock-o'></span> Realtime\";\n                }\n                else if(canvasID === \"canvas3\")\n                {\n                    d.innerHTML = \"<span class='fa fa-history'></span> Statistics\";\n                }\n                else if(canvasID === \"canvas4\")\n                {\n                    d.innerHTML = \"<span class='fa fa-clock-o'></span> Live\";\n                }\n                else if(canvasID === \"canvas5\")\n                {\n                    d.innerHTML = \"<span class='fa fa-clock-o'></span> Tracking\";\n                }\n                else if(canvasID === \"canvas6\")\n                {\n                    d.innerHTML = \"<span class='fa fa-clock-o'></span> Tracking\";\n                }\n            }\n\n\n            /****************** Here  some of spacific is code used for AGV tracking ******************/\n            var sensorData = []; // will keep all sensors and their possition data\n            var noOfAGV = 8;\n            var AGVDatas = new Array(noOfAGV);\n            var maxNoPositions = 2; // maximum number of coorditates to be visualized \n            var selectedAGVID = null;\n            //for each AGV create array for AGV Locations\n            function initAGVDatas()\n            {\n                for (var i = 0; i < noOfAGV; i++) {\n                    AGVDatas[i] = new Array();\n                }\n            }\n            initAGVDatas();\n            //set the dropdown box selected option\n            function setSelectionAGV(optionID)\n            {\n                document.getElementById(optionID).selected = true;\n                selectedAGVID = optionID;\n            }\n            //get selected dropdown box item\n            function getSelectedAGV()\n            {\n                var e = document.getElementById(\"agvID\"); // areaName is <select> tag id \n                //var id = document.getElementById(\"agvID\").selectedIndex;\n                var selectedAGV = e.options[e.selectedIndex].value;\n               \n\n                //selectedAGVID = selectedAGV;\n\n                showTrackingDetails(selectedAGV);\n                \n                \n            }\n\n            function showTrackingDetails(AGV)\n            {\n                //clearCanvas(\"detailsChart\"); //clear the drwing area\n                selectedChart = AGV;\n                setSelectionAGV(AGV);\n                //console.log(\"selected AGV ID = \" + selectedAGV);\n                //empty your array\n                //sensorData = [];\n                //AGVDatas[AGV] = [];\n                //AGVDatas\n                updateChart(26, parseLineCharData(null)); //chart26 is the id for RTLS Line Chart\n            }\n\n            function updateLocationData(payload = null) {\n                if(payload !== null) \n                {\n                    var X = payload.features.position.properties.x;\n                    var Y = payload.features.position.properties.y;\n                    var id =  payload.features.id.properties.value\n                  \n                    console.log(\"AGV ID = \" + id + \" Coordinates [\"+X+\",\"+Y+\"]\");\n                    var index =  AGVDatas[id].length;\n\n                    //sensorData.push({x:X, y:Y}); // the thing.possion[index] array is not full so add coordinate at thing.possion[index] \n                    \n                    AGVDatas[id][index] = {x:X, y:Y};\n                    //var index = sensorData.length;\n                    if(maxNoPositions <= index)\n                        AGVDatas[id].shift(); //remove the first stored data and add new location data at the last position\n\n                    var series = [];\n                    const iterator = AGVDatas[id].values();\n                    var i=0;\n                    for (const value of iterator) {\n                        console.log( \"values [\"+value.x+\",\"+value.y+\"]\");\n                        series[i++] = value;\n                    }\n\n                    return series;\n                }\n                return [];\n            }\n            \n            function parseLineCharData(payload = null) {\n                var series = [];\n               \n                console.log(\"AGV found\");\n                //Show only the selected sensor data by ignoring the other sensors incoming data\n                if(payload !== null) \n                {\n                    series = updateLocationData(payload);\n                    console.log(\"sensorData \" + series);\n                }\n\n                return [{\n                    data: series\n                }];\n            }\n            \n            function setLineCharOptions()\n            {\n                var options = {\n                  chart: {\n                    height: 350,\n                    type: 'line',\n                    toolbar: {\n                      show: false\n                    }\n                  },\n                  dataLabels: {\n                    enabled: false\n                  },\n                  \n                  plotOptions: {\n                      bar: {\n                        dataLabels: {\n                          position: 'top'\n                        }\n                      },\n                      dataLabels: {\n                        enabled: true,\n                        style: {\n                            colors: ['#333']\n                        },\n                        offsetX: 30\n                      },\n                  },\n                  \n                  stroke: {\n                    curve: 'stepline'\n                  },\n                  series: [],\n                  title: {\n                    text: 'UWB AGV Tracking',\n                    align: 'left'\n                  },\n                  markers: {\n                    size: 6\n                  },\n                  xaxis: {\n                    tickAmount: 20,\n                    min: 0,\n                    max: 100,\n                    title: {\n                        text: 'X',\n                    }\n                  },\n                  yaxis: {\n                        tickAmount: 10,\n                        min: 0,\n                        max: 100,\n                        title: {\n                            text: 'Y',\n                        }\n                  }\n                };\n                \n                return options;\n            }\n\n            function createLineCharts(numberOfCharts)\n            {\n                var i=charts.length;\n                \n                for (; i < numberOfCharts; i++)\n                {\n                    var chartID = \"#chart\" + i\n                    charts[i] = new ApexCharts(document.querySelector(chartID), setLineCharOptions());\n                    charts[i].render();\n                }\n            }\n            /******************End of AGV tracking code ******************/\n\n            function init()\n            {\n                createHeatmapCharts(18);\n                createLineCharts(27); //create 9 chart with ids [18, 27)\n\n                //var x = document.getElementById(\"realTimeScatterChart\").; \n                //document.getElementById('realTimeScatterChart').getElementsByTagName('g')\n                //var x = document.getElementsByClassName(\" apexcharts-grid\");\n               \n            }\n            \n            init();\n            \n            $('.message a').click(function(){\n               $('form').animate({height: \"toggle\", opacity: \"toggle\"}, \"slow\");\n            });\n        </script>\n        \n   \n\n    </head>\n    \n    <body onload=\"\">\n        <font size =\"1\">\n    \n        <div class=\"wrapper\">\n           \n                <!-- Main -->\n                <div class=\"col-lg-2 col-md-2 col-sm-3 col-xs-2\">\n                    <ul class=\"nav nav-pills nav-stacked\" style=\"border-right:1px solid black\">\n                        <!--<li class=\"nav-header\"></li>-->\n                        <li><a href=\"\" onclick=\"switchCanvas('canvas1');\" ><i class=\"fa fa-home\"></i> Home </a></li>\n                        <li><a href=\"\" onclick=\"switchCanvas('canvas2');\" ><i class=\"fa fa-clock-o\"></i> Realtime </a></li>\n                        <li><a href=\"\" onclick=\"switchCanvas('canvas5');\" ><i class=\"fa fa-clock-o\"></i> Tracking </a></li>\n                        <li><a href=\"\" onclick=\"switchCanvas('canvas4');\" ><i class=\"fa fa-history\"></i> Live </a></li>\n                    </ul>\n                </div><!-- /span-3 -->\n        \n                <!-- Page Content -->\n          \n                <div class=\"col-lg-10 col-md-10 col-sm-9 col-xs-10\">\n                    <!-- Right -->\n                    <h3>\n                        <strong id=\"activeCanvasName\">\n                            <span class='fa fa-home'></span> Dashboard \n                        </strong>\n                    </h3>\n                    <hr>\n                    <div class=\"main\">\n                        \n                        <div class=\"tab-content\">\n                            \n                            <div id=\"canvas1\">\n                               \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\">\n                                                <div class=\"panel-title pull-left\">\n                                                    ASSEMBLY AREA\n                                                </div>\n                                                <div class=\"card-title pull-right\">\n                                                    <button class=\"btn btn-sm btn-black\" onclick=\"switchCanvas('canvas3'); showDetails('ASSEMBLY');\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart0\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    MOULDING AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-black\" onclick=\"setSelectionCategory('MOULDING'); switchCanvas('canvas3'); showDetails('MOULDING');\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart1\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                               </div>\n                                \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    ASSEMBLY_FINAL AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-primery\" onclick=\"setSelectionCategory('ASSEMBLY_FINAL'); switchCanvas('canvas3'); showDetails('ASSEMBLY_FINAL');\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart2\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    ASSEMBLY_CONSUME AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionCategory('ASSEMBLY_CONSUME'); switchCanvas('canvas3'); showDetails('ASSEMBLY_CONSUME');\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart3\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                               </div>\n                              \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    GATE AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionCategory('GATE'); switchCanvas('canvas3'); showDetails('GATE');\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart4\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    TPA_CUST_AREA AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionCategory('TPA_CUST_AREA'); switchCanvas('canvas3'); showDetails('TPA_CUST_AREA');\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart5\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                               </div>\n                                \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    TPA_PALLET AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionCategory('TPA_PALLET'); switchCanvas('canvas3'); showDetails('TPA_PALLET');\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                            <div class=\"panel-body\">\n                                               <div id=\"chart6\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    HANDHELD AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionCategory('HANDHELD'); switchCanvas('canvas3'); showDetails('HANDHELD');\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart7\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                               </div>\n                            </div>\n                            \n                            <div id=\"canvas2\" style=\"display:none;\">\n                                <div class=\"row\">\n                                    <div class=\"col-xs-12 col-lg-12 col-sm-12\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    <button class=\"btn btn-sm btn-info\" onclick=\"switchCanvas('canvas1');\">\n                                                        <i class=\"fa fa-arrow-left\" aria-hidden=\"true\"> Back</i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionCategory('MOULDING'); switchCanvas('canvas3'); showDetails('MOULDING');\">\n                                                        <i class=\"fa fa-play\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                            <div class=\"panel-body\">\n                                               <div id=\"realTimeScatterChart\"></div>\n                                            </div>\n                                       </div>\n                                    </div>\n                                </div> \n                            </div>\n                            \n                            <div id=\"canvas3\" style=\"display:none;\">\n                                <div class=\"row\">\n                                    <div class=\"col-xs-6 col-lg-12 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    <button class=\"btn btn-sm btn-info\" onclick=\"switchCanvas('canvas1');\">\n                                                        <i class=\"fa fa-arrow-left\" aria-hidden=\"true\"> Back</i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                    <select class=\"btn-sm  browser-default custom-select\" id=\"areaName\" onchange=\"getSelectedCategory();\">\n                                                        <option selected>Select area</option>\n                                                        <option id=\"ASSEMBLY\">ASSEMBLY</option>\n                                                        <option id=\"MOULDING\">MOULDING</option>\n                                                        <option id=\"ASSEMBLY_FINAL\">ASSEMBLY_FINAL</option>\n                                                        <option id=\"ASSEMBLY_CONSUME\">ASSEMBLY_CONSUME</option>\n                                                        <option id=\"GATE\">GATE</option>\n                                                        <option id=\"TPA_CUST_AREA\">TPA_CUST_AREA</option>\n                                                        <option id=\"TPA_PALLET\">TPA_PALLET</option>\n                                                        <option id=\"HANDHELD\">HANDHELD</option>\n                                                    </select>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                            <div class=\"panel-body\">\n                                               <div id=\"chart9\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                </div> \n                            </div>\n                            \n                            <div id=\"canvas4\" style=\"display:none;\">\n                               \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\">\n                                                <div class=\"panel-title pull-left\">\n                                                    ASSEMBLY AREA\n                                                </div>\n                                                <div class=\"card-title pull-right\">\n                                                   \n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart10\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    MOULDING AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                    \n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart11\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                               </div>\n                                \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    ASSEMBLY_FINAL AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                    \n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart12\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    ASSEMBLY_CONSUME AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                    \n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart13\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                               </div>\n                              \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    GATE AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                    \n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart14\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    TPA_CUST_AREA AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                    \n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart15\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                               </div>\n                                \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    TPA_PALLET AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     \n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                            <div class=\"panel-body\">\n                                               <div id=\"chart16\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    HANDHELD AREA\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     \n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart17\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                               </div>\n                            </div>\n                            \n                            <div id=\"canvas5\" style=\"display:none;\">\n                               \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\">\n                                                <div class=\"panel-title pull-left\">\n                                                    AGV 0\n                                                </div>\n                                                <div class=\"card-title pull-right\">\n                                                    <button class=\"btn btn-sm btn-black\" onclick=\"setSelectionAGV(0); switchCanvas('canvas6'); showTrackingDetails(0);\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart18\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    AGV 1\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-black\" onclick=\"setSelectionAGV(1); switchCanvas('canvas6'); showTrackingDetails(1);\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart19\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                </div>\n                                \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    AGV 2\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-primery\" onclick=\"setSelectionAGV(2); switchCanvas('canvas6'); showTrackingDetails(2);\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart20\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    AGV 3\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionAGV(3); switchCanvas('canvas6'); showTrackingDetails(3);\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart21\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                </div>\n                              \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    AGV 4\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionAGV(4); switchCanvas('canvas6'); showTrackingDetails(4);\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart22\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    AGV 5\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionAGV(5); switchCanvas('canvas6'); showTrackingDetails(5);\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart23\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                </div>\n                                \n                                <div class=\"row\">\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    AGV 6\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionAGV(6); switchCanvas('canvas6'); showTrackingDetails(6);\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                            <div class=\"panel-body\">\n                                               <div id=\"chart24\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                   \n                                    <div class=\"col-xs-6 col-lg-6 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    AGV 7\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                     <button class=\"btn btn-sm btn-light\" onclick=\"setSelectionAGV(7); switchCanvas('canvas6'); showTrackingDetails(7);\">\n                                                        <i class=\"fa fa-window-maximize\" aria-hidden=\"true\"></i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                             <div class=\"panel-body\">\n                                               <div id=\"chart25\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                </div>\n                            </div>\n\n                            <div id=\"canvas6\" style=\"display:none;\">\n                                <div class=\"row\">\n                                    <div class=\"col-xs-6 col-lg-12 col-sm-6\">\n                                        <div class=\"panel panel-success\">\n                                            <div class=\"panel-heading bg-overlay--blue\" >\n                                                <div class=\"panel-title pull-left\">\n                                                    <button class=\"btn btn-sm btn-info\" onclick=\"switchCanvas('canvas5');\">\n                                                        <i class=\"fa fa-arrow-left\" aria-hidden=\"true\"> Back</i>\n                                                    </button>\n                                                </div>\n                                                <div class=\"panel-title pull-right\">\n                                                    <select class=\"btn-sm  browser-default custom-select\" id=\"agvID\" onchange=\"getSelectedAGV();\">\n                                                        <option selected>Select AGV</option>\n                                                        <option id=\"0\">0</option>\n                                                        <option id=\"1\">1</option>\n                                                        <option id=\"2\">2</option>\n                                                        <option id=\"3\">3</option>\n                                                        <option id=\"4\">4</option>\n                                                        <option id=\"5\">5</option>\n                                                        <option id=\"6\">6</option>\n                                                        <option id=\"7\">7</option>\n                                                    </select>\n                                                </div>\n                                                <div class=\"clearfix\"></div>\n                                            </div>\n                                            <div class=\"panel-body\">\n                                               <div id=\"chart26\"></div>\n                                           </div>\n                                       </div>\n                                    </div>\n                                </div> \n                            </div>\n                            \n                        </div>\n                    </div>\n            </div>\n        </div> \n      \n        <script>\n        \n            function groupByDate(objectArray, property) {\n                var i=0;\n                return objectArray.reduce(function (acc, obj) {\n                    var key = obj[property];\n                    if (!acc[key]) {\n                        acc[key] = [];\n                    }\n                    acc[key].push(obj);\n                    return acc;\n                }, {});\n            }\n            \n            function parseData(msg = null) {\n               // console.log(msg);\n                var i = 0,j=0;\n                var rows = [];\n                var row = {};\n                if(msg !== null || msg.length > 0)\n                {\n                   \n                    var dataset = groupByDate(msg, 'dtGr');\n                    var dates = Object.keys(dataset);\n                   \n                    dates.forEach(function (date) {\n                   \n                        row = {};\n                        var row_name = null;\n                        \n                        var series = [];\n                        var i = 0;\n                        while (i < dataset[date].length)\n                        {\n                            let obj = dataset[date]; //msg[i]; //get the row\n                            var x = obj[i]['simulate_machine_id'].toString();\n                            var y =  obj[i]['num_det']//Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;\n                            series.push({\n                                x: x,\n                                y: y\n                            });\n                            i++;\n                        }\n                        \n                        var options = { year:'numeric', month: 'short', day: 'numeric' };\n                        var formattedDate = new Date(date).toLocaleString('it-IT', options);\n    \n                        \n                        row = {\n                            name: formattedDate.substr(0,6),\n                            data: series\n                        };\n                        \n                        rows.push(row);\n                    });\n                   \n                }\n                else\n                {\n                    return null;\n                }\n                return rows;\n            }\n            \n           /* function showDetails(category)\n            {\n                //clearCanvas(\"detailsChart\"); //clear the drwing area\n                selectedChart = category;\n                setSelectionCategory(category);\n            \n                var data = JSON.parse(localStorage.getItem(category));\n\n                updateChart(9,parseData(data)); //chart9 is the id for deatil chart\n            }*/\n\n            function showDetails(category)\n            {\n                //clearCanvas(\"detailsChart\"); //clear the drwing area\n                selectedChart = category;\n                setSelectionCategory(category);\n            \n                var data = JSON.parse(localStorage.getItem(category));\n\n                updateChart(9,parseData(data)); //chart9 is the id for deatil chart\n            }\n            \n            \n            ;(function(scope) {\n                \n                scope.$watch('msg', function(newMsg, oldMsg) {\n    \n                    msg = newMsg;\n                   /* if(newMsg.category === \"ASSEMBLY\")\n                    {\n                        localStorage.clear(); //new data so clear the old data\n                    }*/\n                    if( newMsg.live === false) //save the data in the browser\n                    {\n                        localStorage.setItem(msg.category, JSON.stringify(newMsg.payload));\n                        //console.log(\"oldMsg.live\" + oldMsg.live)\n                    }\n                  \n                    if(document.getElementById(\"canvas1\").style.display === \"none\" && selectedChart === newMsg.category)\n                    {\n                        showDetails(selectedChart); //detail view for heatmap\n                    }\n\n                    else if( newMsg.live === true ) // all area realtime data will be showed in heatmap\n                    {\n                        if(newMsg.category === \"ASSEMBLY\" )\n                        {\n                            updateChart(10,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"MOULDING\" ){\n                            updateChart(11,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"ASSEMBLY_FINAL\" ){\n                            updateChart(12,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"ASSEMBLY_CONSUME\" ){\n                            updateChart(13,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"GATE\" ){\n                            updateChart(14,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"TPA_CUST_AREA\" ){\n                            updateChart(15,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"TPA_PALLET\" ){\n                            updateChart(16,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"HANDHELD\" ){\n                            updateChart(17,parseData(newMsg.payload));\n                        }\n                    }\n                    else if( newMsg.category !== undefined ) // all area filterd previous data will be showed in heatmap\n                    {\n                        if(newMsg.category === \"ASSEMBLY\" )\n                        {\n                            updateChart(0,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"MOULDING\" ){\n                            updateChart(1,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"ASSEMBLY_FINAL\" ){\n                            updateChart(2,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"ASSEMBLY_CONSUME\" ){\n                            updateChart(3,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"GATE\" ){\n                            updateChart(4,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"TPA_CUST_AREA\" ){\n                            updateChart(5,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"TPA_PALLET\" ){\n                            updateChart(6,parseData(newMsg.payload));\n                        }\n                        else if(newMsg.category === \"HANDHELD\" ){\n                            updateChart(7,parseData(newMsg.payload));\n                        }\n                    }\n                    else{\n                        //realtime location data will be diplayed in scatter chart.\n                        realTimeScatterChart.updateSeries(parseScatterCharData(newMsg.payload));\n                        //console.log(\"Current AGV ID \" + newMsg.payload.features.id.properties.value);\n\n                       // console.log(\"Current AGV ID\" + selectedAGVID);\n\n                        if(document.getElementById(\"canvas6\").style.display === \"block\" )\n                        { \n                             // detail view chart for line chart or AGV tracking chart\n                            if( selectedAGVID === newMsg.payload.features.id.properties.value)    {                       \n                                updateChart(26,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                                console.log(\"Detail view AGV ID \" + newMsg.payload.features.id.properties.value);\n                            }\n                        }\n                        \n                        //realtime location data will be diplayed in line chart.\n                        //Based on AGV ID \n                        else if(newMsg.payload.features.id.properties.value == 0){\n                            updateChart(18,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                        }\n                        else if(newMsg.payload.features.id.properties.value == 1){\n                            updateChart(19,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                        }\n                        else if(newMsg.payload.features.id.properties.value == 2){\n                            updateChart(20,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                        }\n                        else if(newMsg.payload.features.id.properties.value == 3){\n                            updateChart(21,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                        }\n                        else if(newMsg.payload.features.id.properties.value == 4){\n                            updateChart(22,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                        }\n                        else if(newMsg.payload.features.id.properties.value == 5){\n                            updateChart(23,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                        }\n                        else if(newMsg.payload.features.id.properties.value == 6){\n                            updateChart(24,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                        }\n                        else if(newMsg.payload.features.id.properties.value == 7){\n                            updateChart(25,parseLineCharData(newMsg.payload)); //26 is the chart ID \n                        }\n                    }\n                });\n            })(scope);\n        </script>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1006,"y":316.566650390625,"wires":[[]]},{"id":"a39aaffa.a43bc8","type":"delay","z":"6e135f96.815ec","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":859.566650390625,"y":205.566650390625,"wires":[["dd27e3ad.0d89f"]]},{"id":"9b3a3a1f.17cf7","type":"function","z":"6e135f96.815ec","name":"set filter dates","func":"// get the date converted to milliseconds\nif(msg.topic === \"startDate\")\n    flow.set(\"startDate\", msg.payload);\n\n// get the date converted to milliseconds\nif(msg.topic === \"endDate\")\n   flow.set(\"endDate\", msg.payload);\n\nif(msg.topic === \"reset\")\n{\n        return msg;\n}\nelse if(msg.topic === \"apply\")\n{\n    var topic = null; //View each date data if days are lessthan 7 days\";\n    if(msg.startDate !== 'undefined' && msg.endDate !== 'undefined')\n    {\n        var maxNumberOfDates = 7;//show maximum a week data \n        //The diffrenace of the two dates displays 726\n        var days = daysBetween(flow.get(\"endDate\"), flow.get(\"startDate\"));\n        if(days < 0)\n        {\n            return null;\n            //error message \n        }\n        else if(days > maxNumberOfDates) \n        {\n            topic = \"summary\";\n          /*  var notification;\n            notification.topic = \"API Error\";\n            notification.payload = \"Only a week data can be viwed.\";\n            node.error(notification);*/\n        }\n    }\n    else //default one day query \n    {\n        var today = new Date();\n        \n        var yesterday = new Date();\n        yesterday.setDate(yesterday.getDay() - 1);\n        \n        flow.set(\"startDate\", yesterday);\n        flow.set(\"endDate\", today);\n    }\n    \n    var startDate =  new Date( flow.get(\"startDate\") );\n    var endDate =  new Date( flow.get(\"endDate\") );\n   \n    var formattedStartDate = new Date(startDate.getTime() - (startDate.getTimezoneOffset() * 60000 )).toISOString().split(\"T\")[0];\n    var formattedEndDate = new Date(endDate.getTime() - (endDate.getTimezoneOffset() * 60000 )).toISOString().split(\"T\")[0];\n    \n    console.log(\"Formatted start date \"+formattedStartDate);\n    console.log(\"Formatted end date \"+formattedEndDate);\n    \n    msg.startDate = formattedStartDate;\n    msg.endDate = formattedEndDate;\n    msg.topic = topic;\n    \n    return msg;\n}\n\nfunction daysBetween( date1, date2 ) {\n  //Get 1 day in milliseconds\n  var one_day=1000*60*60*24;\n\n  // Convert both dates to milliseconds\n  var date1_ = new Date(date1);\n  var date1_ms = date1_.getTime();\n  \n  var date2_ = new Date(date2);\n  var date2_ms = date2_.getTime();\n\n  // Calculate the difference in milliseconds\n  var difference_ms = date1_ms - date2_ms;\n    console.log( 'Startd date ' + date2_.getTime());\n    console.log( 'End date ' + date1_.getTime());\n  // Convert back to days and return\n  return Math.round(difference_ms/one_day); \n}","outputs":1,"noerr":0,"x":451.7500305175781,"y":167.25,"wires":[["943fdc6e.0ce57"]]},{"id":"f260fcd8.8a8468","type":"ui_date_picker","z":"6e135f96.815ec","name":"","label":"To","group":"41422c93.3926bc","order":3,"width":"3","height":"1","passthru":false,"topic":"endDate","x":272.5666198730469,"y":281.566650390625,"wires":[["9b3a3a1f.17cf7"]]},{"id":"66ed5f15.e690c8","type":"ui_date_picker","z":"6e135f96.815ec","name":"startDate","label":"From","group":"41422c93.3926bc","order":2,"width":"3","height":"1","passthru":false,"topic":"startDate","x":275.63330078125,"y":230.76669311523438,"wires":[["9b3a3a1f.17cf7"]]},{"id":"d9d071df.a7c1c","type":"ui_button","z":"6e135f96.815ec","name":"","group":"41422c93.3926bc","order":6,"width":"2","height":"1","passthru":false,"label":"Apply","tooltip":"","color":"","bgcolor":" #2ecc71","icon":"","payload":"","payloadType":"str","topic":"apply","x":100,"y":114.75003051757812,"wires":[["9b3a3a1f.17cf7"]]},{"id":"f3f52746.a35a5","type":"ui_button","z":"6e135f96.815ec","name":"","group":"41422c93.3926bc","order":5,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"#ff8e13","icon":"","payload":"","payloadType":"date","topic":"reset","x":96,"y":210.00003051757812,"wires":[["f260fcd8.8a8468","66ed5f15.e690c8","9b3a3a1f.17cf7"]]},{"id":"9f17ac9.00f6ad","type":"inject","z":"6e135f96.815ec","name":"Start Listening","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180.45010375976562,"y":365.58331298828125,"wires":[["8cd6166b.67bd9"]]},{"id":"b758a500.f85c","type":"sse-client","z":"6e135f96.815ec","name":"","url":"","events":["message"],"headers":{"Authorization":"Basic ZGl0dG86ZGl0dG8="},"proxy":"","restart":true,"timeout":"5","x":284.4500732421875,"y":475.5834045410156,"wires":[["c69ae9a5.c537d8"]]},{"id":"c69ae9a5.c537d8","type":"switch","z":"6e135f96.815ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":428.5167236328125,"y":537.449951171875,"wires":[["1833ef5b.020cb9"],[]]},{"id":"8cd6166b.67bd9","type":"change","z":"6e135f96.815ec","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://digitwin.cloud.reply.eu:8080/api/2/things","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":213.4500732421875,"y":420.1500549316406,"wires":[["b758a500.f85c"]]},{"id":"1833ef5b.020cb9","type":"json","z":"6e135f96.815ec","name":"","property":"payload","action":"","pretty":false,"x":527.8166809082031,"y":453.5832824707031,"wires":[["77d8e0af.b28e78"]]},{"id":"77d8e0af.b28e78","type":"switch","z":"6e135f96.815ec","name":"","property":"payload.attributes.model","propertyType":"msg","rules":[{"t":"eq","v":"AGV machine","vt":"str"},{"t":"eq","v":"RFID","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":541.86669921875,"y":353,"wires":[["545895f.66a3aec","dd27e3ad.0d89f"],["42872479.726e4c"],[]]},{"id":"545895f.66a3aec","type":"function","z":"6e135f96.815ec","name":"saveAGVMachineData","func":"//Insert a record in the \"sensoruwb\" table:\nvar data = msg.payload;  \n\n//var data = msg.payload.features.rfid_values.properties; \n\nvar temp = data.features.timestamp.properties.value.length;\n\nif (temp === 0) {\n\n    var d = new Date();\n\n    var  month = d.getMonth() + 1;\n\n    var day =d.getDate();\n\n    var year = d.getFullYear();\n\n    var  hour = d.getHours();\n\n    var   minutes = d.getMinutes();\n\n    var seconds = d.getSeconds();\n    \n    if (month.length < 2) month = '0' + month;\n\n    if (day.length < 2) day = '0' + day;\n\n    if(seconds.length<2) secinds = '0'+seconds;\n\n   var globalData = year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds;\n\n    msg.payload.features.timestamp.properties.value = globalData;\n\n \n\n}\n\n/*var data = msg.payload;    \nconsole.dir(\"sensorthing_id :\" + data.features.id.properties.value); \nconsole.dir(\"position_x :\" + data.features.position.properties.x);\nconsole.dir(\"position_y :\" + data.features.position.properties.y);\nconsole.dir(\"position_z :\" + data.features.position.properties.z);\nconsole.dir(\"timestamp :\" + data.features.timestamp.properties.value);\n*/\nvar query = \"INSERT INTO sensoruwb (sensorthing_id, position_x, position_y, position_z, timestamp) VALUES \"+\n\"(\\\"\" + data.features.id.properties.value + \"\\\", \" + data.features.position.properties.x +\n\", \" + data.features.position.properties.y + \", \" + data.features.position.properties.z + \n\", TIMESTAMP(\\\"\" + data.features.timestamp.properties.value + \"\\\") );\";\n\n//console.dir(\"Query :\" + query);\n\nmsg.payload = \"\"\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":800.050048828125,"y":381.39996337890625,"wires":[["4c87066e.4db478"]]},{"id":"42872479.726e4c","type":"function","z":"6e135f96.815ec","name":"saveRFIDData","func":"//Insert a record in the \"sensoruwb\" table:\n\nvar data = msg.payload.features.rfid_values.properties; \n\nvar temp = data.ts_receive.length;\n\nif (temp === 0) {\n\n    var d = new Date();\n\n    var  month = d.getMonth() + 1;\n\n    var day =d.getDate();\n\n    var year = d.getFullYear();\n\n    var  hour = d.getHours();\n\n    var   minutes = d.getMinutes();\n\n    var seconds = d.getSeconds();\n\n    if (month.length < 2) month = '0' + month;\n\n    if (day.length < 2) day = '0' + day;\n\n    if(seconds.length<2) secinds = '0'+seconds;\n\n    var globalData = year+'-'+month+'-'+day+' '+hour+':'+minutes+':'+seconds;\n\n    msg.payload.features.rfid_values.properties.ts_receive = globalData;\n\n \n\n}\n\n/*\n///var data = msg.payload;    \n//var data = msg.payload.features.rfid_values.properties;\nconsole.dir(\"rfid_short_id :\" + data.rfid_short_id);\nconsole.dir(\"type_box :\" + data.type_box);\nconsole.dir(\"real_machine_id :\" + data.real_machine_id);\nconsole.dir(\"client_category :\" + data.client_category);\nconsole.dir(\"simulate_machine_id :\" + data.simulate_machine_id);\nconsole.dir(\"event_id :\" + data.event_id);\nconsole.dir(\"status_id :\" + data.status_id);\nconsole.dir(\"error_code :\" + data.error_code);\n//console.dir(\"error_desc :\" + data.error_desc);\nconsole.dir(\"ts_receive :\" + data.ts_receive);\nconsole.dir(\"simulate_category :\" + data.simulate_category);\nconsole.dir(\"location_id :\" + data.location_id);\n//console.dir(\"part_number_item :\" + data.part_number_item);*/\n\nvar query = \"INSERT INTO rfid_msg_arch (rfid_short_id, type_box, real_machine_id, client_category, simulate_machine_id, event_id,\"+\n            \" status_id, error_code, error_desc, ts_receive, simulate_category, location_id, part_number_item) VALUES \"+\n            \"('\" + data.rfid_short_id + \"', \" + data.type_box + \", '\" + data.real_machine_id + \"', '\" + \n            data.client_category + \"', '\" + data.simulate_machine_id +\"', \" + data.event_id + \", \" + \n            data.status_id + \", \"  + data.error_code + \", '\" + data.error_desc + \"', TIMESTAMP('\" + data.ts_receive + \"'), '\" +\n            data.simulate_category +\"', '\" + data.location_id +\"', '\" + data.part_number_item + \"');\";\n\n//console.dir(\"Query :\" + query);\n\nmsg.payload = \"\";\nmsg.topic = query;\n\nreturn msg;\n//return null;","outputs":1,"noerr":0,"x":796.050048828125,"y":434.4000549316406,"wires":[["4c87066e.4db478"]]},{"id":"8ebc5d0b.0633b8","type":"inject","z":"6e135f96.815ec","name":"repeat every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"0.5","x":213.1667022705078,"y":581,"wires":[["32fa80b1.a2169"]]},{"id":"32fa80b1.a2169","type":"function","z":"6e135f96.815ec","name":"getNowData","func":"var categorys = new Array(\"ASSEMBLY\",\"MOULDING\",\"ASSEMBLY_FINAL\",\"ASSEMBLY_CONSUME\",\"GATE\",\"TPA_CUST_AREA\",\"TPA_PALLET\",\"HANDHELD\");\nvar msgs = [];\n\ncategorys.forEach(function(category) \n{\n    var query = \"\";\n    query = \"SELECT distinct DATE(ts_receive) as dtGr, simulate_machine_id, count(rfid_short_id) as num_det from rfid_msg_arch \" +\n            \"WHERE simulate_category = '\" + category + \"' AND ts_receive >= DATE_FORMAT(DATE(NOW()), '%Y-%m-%d 00:00:00') AND \" +\n            \"ts_receive <= DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') GROUP BY simulate_machine_id, dtGr ORDER BY dtGr\";\n   \n    var message = {payload:\"\", topic : query, category: category, live:true };\n    \n    node.send(message);\n});  \nreturn null;","outputs":1,"noerr":0,"x":441.7500305175781,"y":599.75,"wires":[["3aed5b8d.462354"]]},{"id":"cd7abc58.87a618","type":"mysql","z":"6e135f96.815ec","mydb":"c24b4cc9.0b4eb8","name":"Dataset","x":699,"y":183,"wires":[["a39aaffa.a43bc8"]]},{"id":"4c87066e.4db478","type":"mysql","z":"6e135f96.815ec","mydb":"c24b4cc9.0b4eb8","name":"Dataset","x":1043,"y":447.0000305175781,"wires":[[]]},{"id":"3aed5b8d.462354","type":"mysql","z":"6e135f96.815ec","mydb":"c24b4cc9.0b4eb8","name":"Dataset","x":611,"y":604,"wires":[["dd27e3ad.0d89f"]]},{"id":"f8552aa4.230ff8","type":"http in","z":"6e135f96.815ec","name":"","url":"/getValue","method":"get","upload":false,"swaggerDoc":"","x":1275,"y":99,"wires":[["e95bcc02.c9dd98"]]},{"id":"2f3bae91.e31fe2","type":"http response","z":"6e135f96.815ec","name":"","statusCode":"","headers":{},"x":1487,"y":244,"wires":[]},{"id":"e95bcc02.c9dd98","type":"switch","z":"6e135f96.815ec","name":"change request","property":"req.path","propertyType":"jsonata","rules":[{"t":"empty"},{"t":"cont","v":"getValue","vt":"str"},{"t":"cont","v":"getLast","vt":"str"}],"checkall":"true","repair":true,"outputs":3,"x":1490,"y":103,"wires":[["d49f95eb.0ad7d8"],["6e65c7ea.992638"],[]]},{"id":"d49f95eb.0ad7d8","type":"debug","z":"6e135f96.815ec","name":"empty","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.path","targetType":"jsonata","x":1592.333251953125,"y":38.333343505859375,"wires":[]},{"id":"6e65c7ea.992638","type":"function","z":"6e135f96.815ec","name":"getDataAGV","func":"var msgs = [];\nvar value = msg.payload.value;\n var query = \"\";\nif (value !== null)\n    query = \"select * from dtwin.sensoruwb where timestamp >= now() - interval \" + value + \" minute;\";\n    else\n    query = \"SELECT * FROM dtwin.sensoruwb order by sensor_id DESC limit 1;\";\n    \n    \n    var message = {payload:\"\", topic:query};\n    console.log(\"BUUUUUU\" + message);\n    node.send(message);\n\nreturn null;","outputs":1,"noerr":0,"x":1582.333251953125,"y":196,"wires":[["eeb23023.0938a8"]]},{"id":"789e462d.0231f","type":"json","z":"6e135f96.815ec","name":"","property":"payload","action":"str","pretty":true,"x":1841,"y":64,"wires":[["8f8d756.97ed108"]]},{"id":"f8bdf563.eebb18","type":"template","z":"6e135f96.815ec","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":1006,"y":732,"wires":[["fb681e8a.a4fcb"]]},{"id":"62a4d26c.b7bc6c","type":"http in","z":"6e135f96.815ec","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":853,"y":714,"wires":[["f8bdf563.eebb18"]]},{"id":"fb681e8a.a4fcb","type":"http response","z":"6e135f96.815ec","name":"","x":1145,"y":728,"wires":[]},{"id":"30b67fd1.4883c","type":"template","z":"6e135f96.815ec","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div ng-bind-html=\"msg.payload\"></div>\n","output":"str","x":1339,"y":235,"wires":[["2f3bae91.e31fe2"]]},{"id":"ca9d69f3.f1762","type":"http in","z":"6e135f96.815ec","name":"","url":"/hello-json","method":"get","swaggerDoc":"","x":524,"y":792,"wires":[["71a2c88.52d4338"]]},{"id":"71a2c88.52d4338","type":"template","z":"6e135f96.815ec","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{\"sensor_id\":1705,\"sensorthing_id\":\"1\",\"position_x\":61,\"position_y\":35,\"position_z\":2,\"timestamp\":\"2019-10-29T13:42:26.000Z\",\"location\":null}]","x":694,"y":792,"wires":[["387622df.e7cb16"]]},{"id":"387622df.e7cb16","type":"change","z":"6e135f96.815ec","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":854,"y":792,"wires":[["6fc42ce5.137714"]]},{"id":"6fc42ce5.137714","type":"http response","z":"6e135f96.815ec","name":"","x":1014,"y":792,"wires":[]},{"id":"8215fd7f.e5fdf","type":"debug","z":"6e135f96.815ec","name":"json not converted","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1728.5,"y":348,"wires":[]},{"id":"34a2680c.4cb7b","type":"function","z":"6e135f96.815ec","name":"reading array","func":"//var mes = msg.payload;\nmsg.options = [];//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    let opt = {};//make new opt object\n    opt[row[0]] = row[1]; //add a propery to object called row[0] & set its value to row[1]\n    msg.options.push(opt);//add the opt to array    \n}\nreturn msg\n/*var i;\nlet jsonObject = JSON.stringify(mes);\nvar jjsn = Object.assign({},mes );\n\nconsole.log(\"JSON STRINGIFY = \" + JSON.stringify(mes));\nconsole.log(\"MES = \" + mes);\nconsole.log(\"OBJECT = \" + jjsn);\nreturn jjsn;*/","outputs":1,"noerr":0,"x":1515.5,"y":351,"wires":[["8215fd7f.e5fdf","30b67fd1.4883c"]]},{"id":"8f8d756.97ed108","type":"debug","z":"6e135f96.815ec","name":"TEST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1976.2666015625,"y":63.68333435058594,"wires":[]},{"id":"eeb23023.0938a8","type":"mysql","z":"6e135f96.815ec","mydb":"c24b4cc9.0b4eb8","name":"Dataset","x":1726.88330078125,"y":125.88333129882812,"wires":[["789e462d.0231f","34a2680c.4cb7b"]]},{"id":"b8bf552d.41af8","type":"json","z":"6e135f96.815ec","name":"","property":"payload","action":"str","pretty":true,"x":1800.86669921875,"y":283.8666687011719,"wires":[[]]},{"id":"661a7c7d.ad7254","type":"ui_group","z":"","name":"Category","tab":"9bdff39f.44543","order":3,"disp":false,"width":"13","collapse":false},{"id":"41422c93.3926bc","type":"ui_group","z":"","name":"Filter ","tab":"9bdff39f.44543","order":1,"disp":false,"width":"13","collapse":false},{"id":"c24b4cc9.0b4eb8","type":"MySQLdatabase","z":"","host":"10.41.11.142","port":"3306","db":"dtwin","tz":""},{"id":"9bdff39f.44543","type":"ui_tab","z":"","name":"APTIV","icon":"fa-area-chart","order":1,"disabled":false,"hidden":false}]