simulator.json
[{"id":"4c587dce.4407c4","type":"http request","z":"22629f75.4b70e","name":"Gateway for RFID","method":"PUT","ret":"txt","paytoqs":false,"url":"http://digitwin.cloud.reply.eu:8080/api/2/things/smart%3Adtwin_rfid","tls":"","proxy":"","authType":"basic","x":1493.75,"y":221.00001525878906,"wires":[[]]},{"id":"23b14547.926cba","type":"switch","z":"22629f75.4b70e","name":"SATART/STOP RFID","property":"switch","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550.75,"y":447,"wires":[["e1234f1e.86eec8"],["57bbf4e2.e72544"]]},{"id":"e1234f1e.86eec8","type":"function","z":"22629f75.4b70e","name":"if is on","func":"var myControl = flow.get(\"control\");\nflow.set(\"control\", \"stop\");\nmsg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"STOP RFID\";\nmsg.topic = \"Stop\";\n//msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":760.75,"y":407,"wires":[["e5fa33dd.e9ec3"]]},{"id":"57bbf4e2.e72544","type":"function","z":"22629f75.4b70e","name":"if its off","func":"var myControl = flow.get(\"control\");\nflow.set(\"control\", \"start\");\nmsg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"START RFID\";\nmsg.topic = \"Start\";\n//msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":770.75,"y":467,"wires":[["e5fa33dd.e9ec3"]]},{"id":"e5fa33dd.e9ec3","type":"ui_button","z":"22629f75.4b70e","name":"Start/stop","group":"a4a8bacc.1bb778","order":5,"width":"7","height":"1","passthru":false,"label":"{{msg.text}}","tooltip":"","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"control","payloadType":"flow","topic":"topic","x":940.75,"y":447,"wires":[["d46d33a7.8cb188","b8469555.ad8f18"]]},{"id":"cee9477.dcb99b8","type":"inject","z":"22629f75.4b70e","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":170.75,"y":367,"wires":[["146e1dcb.ccc382"]]},{"id":"146e1dcb.ccc382","type":"change","z":"22629f75.4b70e","name":"global switch start","rules":[{"t":"set","p":"switch","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390.75,"y":367,"wires":[[]]},{"id":"34c91fbd.de07","type":"inject","z":"22629f75.4b70e","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":210.75,"y":447,"wires":[["17f4c3fc.7a4a3c"]]},{"id":"b8469555.ad8f18","type":"function","z":"22629f75.4b70e","name":"","func":"var obtaindata = global.get (\"switch\")\nif (obtaindata == \"1\"){msg.payload = 0}\nif (obtaindata == \"0\"){msg.payload = 1}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1110.75,"y":427,"wires":[["2373efbe.e4075"]]},{"id":"2373efbe.e4075","type":"change","z":"22629f75.4b70e","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"switch","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1157.75,"y":499,"wires":[[]]},{"id":"17f4c3fc.7a4a3c","type":"function","z":"22629f75.4b70e","name":"","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370.75,"y":447,"wires":[["23b14547.926cba"]]},{"id":"d46d33a7.8cb188","type":"function","z":"22629f75.4b70e","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nfunction makeid(length) {\n   var result           = '';\n   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\n   var charactersLength = characters.length;\n   for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * charactersLength));\n   }\n   return result;\n}\n\nfunction genJson(){\nvar jsonTosend = new Object();\nvar jsonFeatures = new Object();\nvar jsonRFID = new Object();\nvar jsonAttr = new Object();\n\njsonTosend.policyId = \"namespace:digitwin-policy01\";\njsonAttr.manufacturer =\"Test\";\njsonAttr.model = \"RFID\";\njsonTosend.attributes = jsonAttr;\n//jsonTosend.attributes = '{\"manufacturer\": \"Test\", \"model\": \"RFID\"}';\njsonTosend.features = jsonFeatures;\n\nvar jsonProperties = Object();\n\njsonProperties.rfid_short_id = makeid(8);\njsonProperties.type_box = Math.floor(Math.random() * (3 - 0 + 1)) + 0;\nvar items = Array(\"390\",\"396\",\"408\",\"411\",\"413\");\nvar item = items[Math.floor(Math.random()*items.length)];\n//jsonProperties.real_machine_id =  \"0\";\njsonProperties.real_machine_id = item;\nvar categories = Array(\"ASSEMBLY\",\"ASSEMBLY_CONSUME\",\"ASSEMBLY_FINAL\",\"GATE\",\"HANDHELD\",\"MOULDING\",\"TPA_CUST_AREA\",\"TPA_PALLET\",\"10\");\nvar category = categories[Math.floor(Math.random()*categories.length)];\njsonProperties.client_category = category;\njsonProperties.simulate_machine_id =jsonProperties.real_machine_id;\njsonProperties.event_id = Math.floor(Math.random() * (2 - 0 + 1)) + 0;\nvar statuses = Array(\"50\",\"0\",\"1\");\nvar status = statuses[Math.floor(Math.random()*statuses.length)];\njsonProperties.status_id = status;\njsonProperties.error_code = null;\njsonProperties.error_desc = \"\";\njsonProperties.ts_receive = \"\";\njsonProperties.simulate_category = jsonProperties.client_category;\njsonProperties.location_id = \"1\";\njsonProperties.part_number_item = makeid(10);\n\njsonFeatures.rfid_values = jsonRFID; \njsonRFID.properties = jsonProperties;\n\nvar jsonString= JSON.stringify(jsonTosend);\nreturn jsonString;\n}\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.topic = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t    \n\nmsg.payload = genJson();\n\t//\tmsg.payload = \"whatever msg\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = genJson();\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":1110.75,"y":327,"wires":[["80fae05f.65c43"],["b8fa888a.ab5c"]]},{"id":"b8fa888a.ab5c","type":"delay","z":"22629f75.4b70e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120.75,"y":387,"wires":[["d46d33a7.8cb188"]]},{"id":"80fae05f.65c43","type":"json","z":"22629f75.4b70e","name":"","property":"payload","action":"","pretty":false,"x":1270.75,"y":227,"wires":[["4c587dce.4407c4"]]},{"id":"82326428.9a90c","type":"switch","z":"22629f75.4b70e","name":"SATART/STOP UWB","property":"switchUWB","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530.75,"y":627,"wires":[["d16b8f92.52cde8"],["5e08f970.0d6978"]]},{"id":"d16b8f92.52cde8","type":"function","z":"22629f75.4b70e","name":"if is on","func":"var myControl = flow.get(\"controlUWB\");\nflow.set(\"controlUWB\", \"stop\");\nmsg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"STOP UWB\";\nmsg.topic = \"Stop\";\n//msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":740.75,"y":587,"wires":[["554c4e97.c752"]]},{"id":"5e08f970.0d6978","type":"function","z":"22629f75.4b70e","name":"if its off","func":"var myControl = flow.get(\"controlUWB\");\nflow.set(\"controlUWB\", \"start\");\nmsg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"START UWB\";\nmsg.topic = \"Start\";\n//msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":750.75,"y":647,"wires":[["554c4e97.c752"]]},{"id":"554c4e97.c752","type":"ui_button","z":"22629f75.4b70e","name":"Start/stop","group":"a4a8bacc.1bb778","order":5,"width":"7","height":"1","passthru":false,"label":"{{msg.text}}","tooltip":"","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"controlUWB","payloadType":"flow","topic":"topic","x":910.75,"y":607,"wires":[["c0692842.3f59d","ff8a9ea5.01388"]]},{"id":"a09d3964.d475b8","type":"inject","z":"22629f75.4b70e","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":190.75,"y":627,"wires":[["514cb474.8e9d7c"]]},{"id":"c0692842.3f59d","type":"function","z":"22629f75.4b70e","name":"","func":"var obtaindataUWB = global.get (\"switchUWB\")\nif (obtaindataUWB == \"1\"){msg.payload = 0}\nif (obtaindataUWB == \"0\"){msg.payload = 1}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1090.75,"y":607,"wires":[["f093c022.206b4"]]},{"id":"f093c022.206b4","type":"change","z":"22629f75.4b70e","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"switchUWB","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270.75,"y":554,"wires":[[]]},{"id":"514cb474.8e9d7c","type":"function","z":"22629f75.4b70e","name":"","func":"var obtaindataUWB = global.get (\"switchUWB\");\nmsg.payload = obtaindataUWB;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350.75,"y":627,"wires":[["82326428.9a90c"]]},{"id":"6ef84708.1cf9b8","type":"inject","z":"22629f75.4b70e","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":170.75,"y":547,"wires":[["4598d5a2.f814ac"]]},{"id":"4598d5a2.f814ac","type":"change","z":"22629f75.4b70e","name":"global switch start","rules":[{"t":"set","p":"switchUWB","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430.75,"y":547,"wires":[[]]},{"id":"640e3af6.1df924","type":"http request","z":"22629f75.4b70e","name":"Gateway for UWB","method":"PUT","ret":"txt","paytoqs":false,"url":"http://digitwin.cloud.reply.eu:8080/api/2/things/smart%3Adtwin_lwb","tls":"","proxy":"","authType":"basic","x":1450.75,"y":747,"wires":[[]]},{"id":"ff8a9ea5.01388","type":"function","z":"22629f75.4b70e","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nfunction makeid(length) {\n   var result           = '';\n   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\n   var charactersLength = characters.length;\n   for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * charactersLength));\n   }\n   return result;\n}\n\nfunction genJson(){\nvar jsonTosend = new Object();\nvar jsonFeatures = new Object();\nvar jsonPosition = new Object();\nvar jsonAttr = new Object();\nvar jsonTimestamp = new Object();\nvar jsonLocation = new Object();\nvar jsonId = new Object();\n\njsonTosend.policyId = \"namespace:digitwin-policy01\";\njsonAttr.manufacturer =\"Test\";\njsonAttr.model = \"AGV machine\";\njsonTosend.attributes = jsonAttr;\n//jsonTosend.attributes = '{\"manufacturer\": \"Test\", \"model\": \"RFID\"}';\njsonTosend.features = jsonFeatures;\n\nvar jsonProperties = Object();\n\njsonPosition.properties = jsonProperties;\njsonProperties.x = Math.floor(Math.random() * (30 - 0 + 1)) + 0;\njsonProperties.y = Math.floor(Math.random() * (10 - 0 + 1)) + 0;\n//jsonProperties.x = x;\n//jsonProperties.y = y;\njsonProperties.z = Math.floor(Math.random() * (2 - 0 + 1)) + 0;\n\nvar jsonPropT = Object();\nvar jsonPropLoc = Object();\nvar jsonPropId = Object();\njsonPropT.value = \"\";\njsonTimestamp.properties = jsonPropT;\njsonPropLoc.value = \"01\";\njsonLocation.properties = jsonPropLoc;\n//jsonPropId.value = Math.floor(Math.random() * (4 - 0 + 1)) + 0;\njsonPropId.value = 1;\n//jsonPropId.value = Math.floor(Math.random() * (5 - 0 + 1)) + 0;\njsonId.properties = jsonPropId;\n\n\njsonFeatures.position = jsonPosition; \njsonFeatures.timestamp = jsonTimestamp;\njsonFeatures.location = jsonLocation;\njsonFeatures.id = jsonId;\n\n\nvar jsonString= JSON.stringify(jsonTosend);\nreturn jsonString;\n}\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\nconsole.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.topic = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t    \n\nmsg.payload = genJson();\n    \t//\tmsg.payload = \"whatever msg\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = genJson();\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":1090.75,"y":667,"wires":[["8d0cd7d0.e50218"],["1dd8ebf3.1ad004"]]},{"id":"1dd8ebf3.1ad004","type":"delay","z":"22629f75.4b70e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080.75,"y":747,"wires":[["ff8a9ea5.01388"]]},{"id":"8d0cd7d0.e50218","type":"json","z":"22629f75.4b70e","name":"","property":"payload","action":"","pretty":false,"x":1306.75,"y":662,"wires":[["640e3af6.1df924"]]},{"id":"216e9632.3d0b22","type":"template","z":"22629f75.4b70e","name":"Startup","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<html>\n    <head>\n       <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\n/*@media (min-width: 320px) and (max-width:768px){\n    .font\n}*/\nbody, html {\n  height: 100%;\n  margin: 0;\n}\n\n.bg {\n  /* The image used */\n  background-image: url(\"backgr2.jpg\");\n\n  /* Full height */\n  height: 100%; \n\n  /* Center and scale the image nicely */\n  background-position: center;\n  background-repeat: no-repeat;\n  background-size: cover;\n}\n#reply-img {\n  \n  height: 250px;\n  width:100%\n} \n</style>\n</head>\n<body>\n\n<div align= \"center\" class=\"bg\">\n \n        <h1 style = \"margin:0px; font-size: 6vw; color: rgb(245, 249, 244);\" align = \"center\"> WELCOME TO DIGITAL TWIN </h1>\n        <form name=\"login\" style = \"font-size:4vw; font-style:italic;color:rgb(81, 239, 237); padding-top: 5vh\">\n            Username     <input style=\"width:8vw;height:3vw;font-size:3vw; \" type=\"text\" name=\"userid\"/>\n            Password      <input style=\"width:8vw;height:3vw;font-size:2vw;\" type=\"password\" name=\"pswrd\"/>\n            <br>\n            <br>\n            <input style=\" border-radius: 50px; width:10vw; height:5vw; padding-button: 5vh;font-size:2vw; color:rgb(24, 25, 25);\" cursor=\"grab\" type=\"reset\" onclick=\"check(this.form)\" value=\"Login\"/>\n            <!--input style=\"width:100px;height:50px\" cursor=\"grab\" type=\"reset\" value=\"Cancel\"/-->\n        </form>\n        <!--img src=\"EIT-Digital_logo.png\" height=\"150vw\" width=\"300vw\" style=\"position:absolute; right:0px; bottom:10px\"-->\n        <img src=\"EIT-Digital_logo.png\" size=\"30vw\" style=\"position:absolute; right:0px; bottom:10px; inline-size:20vw;\">\n          <img src=\"attempt3.png\" size=\"30vw\" style=\"position:absolute; left:-200px; bottom:-50px;inline-size:40vw;\">\n        </div>\n        \n         \n        <script language=\"javascript\">\n            function check(form) { /*function to check userid & password*/\n                /*the following code checkes whether the entered userid and password are matching*/\n                if(form.userid.value == \"ditto\" && form.pswrd.value == \"ditto\") {\n                    window.open('http://nodereddemo.cloud.reply.eu/ui/#!/0?socketid=2Oyp_xeuTh1CRhIYAAAE')/*opens the target page while Id & password matches*/\n                }\n                else {\n                    alert(\"Error Password or Username, please retry!!!!\")/*displays error message*/\n                }\n            }\n        </script>\n    </body>\n</html>\n","output":"str","x":418.0000305175781,"y":104.99999237060547,"wires":[["4888d349.7d2a84"]]},{"id":"8e0b4859.b03d2","type":"http in","z":"22629f75.4b70e","name":"","url":"/welcome","method":"get","upload":false,"swaggerDoc":"","x":250,"y":106,"wires":[["216e9632.3d0b22"]]},{"id":"4888d349.7d2a84","type":"http response","z":"22629f75.4b70e","name":"welcome","statusCode":"","headers":{},"x":581,"y":103.99999237060547,"wires":[]},{"id":"a4a8bacc.1bb778","type":"ui_group","z":"","name":"Simulate sensor data","tab":"5be7304c.a5ab58","order":3,"disp":true,"width":"7","collapse":true},{"id":"5be7304c.a5ab58","type":"ui_tab","z":"","name":"Simulator","icon":"dashboard","disabled":false,"hidden":false}]